.faq-section__container {
    display: flex;
    flex-direction: column;
    padding: 0 0 10px;
}

.faq-section__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.faq-section__top h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.faq-section__button a {
    font-size: 18px;
    font-weight: 500;
    border: none;
    background: none;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    text-decoration-line: underline;
}

.faq-section__bottom {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {

    .faq-section__top h2 {
        font-size: 18px;
    }

    .faq-section__button a {
        font-size: 16px;
    }

    .faq-section__bottom {
        flex-direction: column;
    }
}