.first-mobile-menu__container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #e7eef3;
    display: none;
    overflow: hidden;
    transform: translateX(100%);
    transition: all 200ms ease-in-out;
    z-index: 10;
}

.first-mobile-menu__container.active {
    transform: translateX(0);
    display: flex;
}

.first-mobile-menu__wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    padding: 0 0 25px 0;
}

.first-mobile-menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 30px 0;
    padding-bottom: 8px;
    background-color: #e7eef3;
    border-bottom: 2px solid #000;
}

.first-mobile-menu__region {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-mobile-menu__region img {
    width: 18px;
}

.first-mobile-menu__region button {
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    color: #000000;
    white-space: nowrap;
    padding: 0;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}

.first-mobile-menu__region button:disabled {
    cursor: not-allowed;
    color: #1010104D;
}

.first-mobile-menu__close {
    width: 35px;
    height: 35px;
    background: none;
    background-image: url(../../assets//images/icons/close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.first-mobile-menu__close:hover,
.first-mobile-menu__close:focus {
    border: 2px solid #000;
}

.first-mobile-menu__content {
    flex: 1;
    margin: 0 30px;
    background-color: #e7eef3;
    overflow-y: auto;
}

.first-mobile-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.first-mobile-menu__item {
    font-size: 14px;
    padding: 20px 0;
}

.first-mobile-menu__link {
    text-decoration: none;
    color: inherit;
    transition: opacity 0.3s;
}

.first-mobile-menu__link:hover {
    opacity: 0.6;
}

@media (max-width: 768px) {

    .first-mobile-menu__container {
        display: flex;
    }
}