.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    opacity: 1;
    transition: opacity 0.2s;
}

.main__container {
    display: flex;
    flex-direction: column;
    width: auto;
    min-height: 100vh;
    margin-right: 0;
    transform: translateX(0);
    transition: transform 0.2s;
}

.main__container.active {
    transform: translateX(-350px);
}