.news-details__container {
    display: flex;
    flex-direction: column;
}

.news-details__container p {
    font-size: 16px;
}

.news-details__link {
    display: flex;
    justify-content: flex-start;
    margin: 15px 0;
}

.news-details__link a {
    font-size: 14px;
    color: var(--blue-7);
    text-decoration: none;
    transition: color 0.3s;
}

.news-details__link a:hover {
    color: var(--blue-8);
}

@media (max-width: 768px) {

    .news-details__container p {
        font-size: 14px;
    }
}